@import ../../global
.left-panel
  width: 30%
  position: fixed
  left: 0
  top: 0
  height: 100%
  background: #F8FBFF
  text-align: center

  ul
    padding: 0
  li
    list-style: none
  a
    text-decoration: none
    color: black

  h1 a
    color: #5A5A5A
  .avatar
    width: 72px
    border-radius: 100%
  .user-name
    margin-top: 0

  .socials
    @include clearfix
    max-width: 400px
    margin: 50px auto
    li
      float: left
      width: 33.3%
      font-size: 12px
      a
        color: #868686
  .intro
    text-align: center
    padding: 10px 20px
    max-width: 400px
    margin: auto
  .edit
    text-align: right
    max-width: 400px
    margin: auto
    padding-right: 10px
    a
      color: #5A5A5A
      i
        margin-right: 5px

  .courses li
    margin: 15px 0
    a
      font-size: 14px
      color: white
      padding: 5px 10px
      border-radius: 5px
  .logo
    position: absolute
    bottom: 50px
