<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>欢迎来到思客教学<%= @user.name %></h1>
    <%== @content %>
    <p>
    1. 你好
    2. 为什么选择这门课程
    3. aboc
    4. balabala
    </p>
  </body>
</html>