h1.page-header Admin Dashboard

h2 尚未邀请用户

p show all uninvited enrollments

.btn-group.btn-group-justified
  a.btn.btn-info href='/admin/courses/new' New Course

br

.btn-group.btn-group-justified
  a.btn.btn-info href='/admin/users' User Management
