.course-site-head-status
  position: absolute
  top: 5px
  right: 40px
  *
    float: right

  .avatar
    width: 52px
    border-radius: 100%

.course-site-head-status__mission-status
  margin-right: 20px

