########################################################################
# Rails configurations
########################################################################

# Secrect key for config/secrets.yml
RAILS_SECRET_KEY_BASE: 52a38766d6f8677e0b62836a4818a8dcb1a52e35673ffa96d29165630e1ad65a5111070f201753bd429c189dd8aa1db32b9c84cbb94846400b6fda5432f3c34c

# Domain name for the app when we need to generate full URL.
RAILS_HOST: localhost:3000

# Port to start Rails server.
RAILS_PORT: "3000"

# Default FROM address for ActionMailer
RAILS_DEFAULT_FROM_EMAIL: admin@besike.com

# config.time_zone
RAILS_TIME_ZONE: "Beijing"

# Database Name (Postgres on well-known port. No auth.)
# Note: In production with run postgres in container. Probably not a big deal security-wise.
RAILS_DATABASE: sike_development

# Rails.application.config.active_job.queue_adapter (default: inline)
RAILS_QUEUE_ADAPTER: inline # or sidekiq, resque

# Redis config
REDIS_HOST: localhost
# REDIS_PORT: "6379"

# Redis DB number for sidekiq
SIDEKIQ_REDIS_DB: "0"

########################################################################
# App configurations
########################################################################

# Password for admin interface. (Default: "")
ADMIN_PASSWORD: ""

COURSE_BUILD_PATH: "courses_build"

########################################################################
# Production configurations
########################################################################
production:
  # We use mailgun to deliver mails in production.
  MAILGUN_API_KEY: api_key

  # Port on which to start a puma control app. If present, bind 0.0.0.0:$PUMA_CONTROL_PORT
  PUMA_CONTROL_PORT: "3030"
  # A string token used to access the puma control (optional).
  PUMA_CONTROL_TOKEN: puma_token

  ########################################################################
  # Deployment Configurations
  ########################################################################

  # The root directory to deploy the app to
  RAILS_ROOT: /app/besike