@import ../../global
#checkins_show
  label
    font-weight: 100
    margin: 0
  .message
    text-align: left
    padding-left: 2.22222em
  header
    padding: 20px
    .logo
      display: inline-block
    .content
      margin-left: 20px
      display: inline-block
      .lesson-title
        margin: 10px 0
        font-size: 24px
  form
    @include clearfix
    margin: auto
    h1.checkin-title
      font-size: 1.333333em
      margin-bottom: 1.6666667em
      margin-top: 0.8333333em
      padding: 0 1.6666667em
      & > i
        color: #11D146
        vertical-align: -15%
      & > span
        display: inline-block
        margin-left: 0.5em

    section
      float: left
      width: 50%
      padding: 0 2.22222em
      margin-bottom: 20px
      .wrapper
        border: solid 1px #979797
        height: 600px
        overflow: auto
    .edit
      .top-info
        a
          font-size: 14px
          margin-left: auto
          text-decoration: underline
      .CodeMirror
        //we need to calculate this value according to tips' height
        height: 526px
      .progress-container
        .progress
          margin: 10px 0
          margin-right: 20px
          &:before
            content: "上传进度："
          svg
            width: 100%
            height: 2px
            margin-bottom: 5px
      .tips
        margin: 0
        position: absolute
        bottom: 0
        width: 100%
        background: #FFF4DE
        color: #9B9B9B
        padding-top: 10px
        padding-bottom: 10px
    .preview
      .wrapper
        padding: 0 10px
    .bottom
      clear: both
      display: flex
      align-items: center
      background: #F8FBFF
      padding: 20px 0
      .time
        width: 220px
        justify-content: space-around
        margin-left: 30px
        input
          width: 60px
          margin-right: 15px
      .difficulty
        width: 140px
        justify-content: space-around
        margin-left: 30px
      .submit
        border-radius: 0
        width: 150px
        margin-left: 30px

  @media (max-width: 620px)
    .message
      padding-left: 1.111em

    header .content
      margin-left: 0px
    form
      h1.checkin-title
        padding: 0px 1em

      section
        float: none
        width: 100%
        padding: 0 1.111em
        .wrapper
          height: 300px
      .edit
        .CodeMirror
          height: 200px
      .bottom
        width: 100%
        display: table
        margin: auto
        vertical-align: left
        .time, .difficulty, .submit
          display: block
          width: 50%
          margin: 15px auto
          & > span
            display: inline-block
            & > input
              width: 80px
              margin-right: 5px
          & > select
            margin-right: 35px
          & > label
            width: 70px



