body {
  margin: 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #373737;
  overflow: auto;
  overflow-x: hidden; }

header {
  font-size: 0;
  position: relative;
  margin-bottom: 80px; }
  header:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); }
  header img {
    width: 100%; }
  header h1 {
    font-size: 40px;
    font-weight: 400;
    text-decoration: underline;
    z-index: 1;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    height: 45px;
    width: 100%;
    max-width: none; }

p, h1, ul {
  width: 80%;
  max-width: 700px;
  margin: auto; }

h1 {
  font-size: 36px;
  font-weight: 300;
  margin-top: 65px;
  margin-bottom: 30px;
  font-family: "Heiti SC";
  color: #454441; }

ul {
  padding-left: 0;
  margin: 20px auto; }

p {
  margin: 25px auto;
  line-height: 150%; }

img, video {
  max-width: 100%;
  display: block;
  margin: auto; }

code {
  font-family: menlo;
  font-size: 16px; }

pre {
  background: rgba(204, 204, 204, 0.1); }
  pre code {
    padding: 20px 0;
    line-height: 150%;
    display: block;
    overflow: auto;
    width: 80%;
    max-width: 700px;
    margin: auto; }

.exercise {
  background: #F8FBFF;
  padding-top: 40px; }
  .exercise pre {
    width: 80%;
    max-width: 700px;
    margin: auto;
    background: white; }
    .exercise pre code {
      line-height: 150%;
      width: 100%;
      padding: 20px 0 20px 20px;
      display: block; }
  .exercise h1 {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
    color: #454441;
    margin-bottom: 50px;
    position: relative; }
    .exercise h1 .indicator {
      font-size: 20px;
      font-weight: 400;
      position: absolute;
      left: -20%;
      top: 0; }
  .exercise p {
    margin: 30px auto; }
  .exercise .steps {
    counter-reset: list;
    list-style: none;
    padding: 0; }
    .exercise .steps .step > p {
      position: relative; }
      .exercise .steps .step > p:before {
        counter-increment: list;
        content: counter(list);
        display: block;
        position: absolute;
        font-weight: 400;
        left: -30px;
        top: 0; }
    .exercise .steps .step p, .exercise .steps .step pre {
      width: 100%; }
    .exercise .steps .step img {
      position: relative;
      z-index: 100;
      display: block;
      margin: auto; }
    .exercise .steps .step .screenshot {
      margin-top: 50px; }
      .exercise .steps .step .screenshot h2 {
        font-size: 18px;
        font-style: italic;
        font-weight: 500;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center; }
      .exercise .steps .step .screenshot ol {
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px; }
        .exercise .steps .step .screenshot ol:before {
          content: "";
          display: block;
          width: 100%;
          height: calc(100% + 150px);
          position: absolute;
          left: 0;
          bottom: 0;
          background: white;
          border-top: #E5F0FF solid 1px;
          border-bottom: #E5F0FF solid 1px; }
        .exercise .steps .step .screenshot ol li {
          line-height: 200%;
          width: 80%;
          max-width: 700px;
          margin: auto;
          position: relative;
          z-index: 1; }
  .exercise .goal {
    text-align: center;
    font-size: 36px;
    margin-top: 80px; }
    .exercise .goal i {
      color: #616161; }
      .exercise .goal i:before {
        margin-right: 15px; }
    .exercise .goal span {
      color: #FF5252; }
  .exercise .completed {
    padding: 60px 0;
    text-align: center; }
    .exercise .completed i {
      display: block;
      font-size: 5em;
      color: #11D146; }
  .exercise .conclusion {
    background: white; }
    .exercise .conclusion p {
      width: 80%;
      max-width: 700px;
      margin: auto;
      padding: 30px 0;
      font-family: "Open Sans";
      font-weight: 400; }

@media only screen and (max-width: 1000px) {
  .indicator {
    display: none; } }
@media only screen and (max-width: 800px) {
  .screenshot > h2 {
    margin-left: 10px !important;
    margin-right: 10px !important; }

  .step > p {
    margin-left: 50px !important;
    margin-right: 10px !important; } }
@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 25px; } }
@media only screen and (max-width: 280px) {
  header h1 {
    font-size: 20px; } }
