@import ../global
.action-panel
  background-color: #F8FBFF
  padding: 0.555556em 1.111111em

.action-panel__row
  width: 100%
  margin: 1em 0.8em

  & > label
    display: block
    width: 100%
    margin-bottom: 0.2777778em
    text-align: left
    font-weight: 500

  & > textarea
    border: 1px solid #E2E2E2
    width: 90.74%

  & > input
    display: block
    margin-bottom: 0.5555556em
    width: 90.74%
    color: black
    height: 2em
    border: 1px solid #E2E2E2
    line-height: 150%
    padding: 0 0.833333em

    & > select
      width: 25%

.action-panel__tips
  width: 90.74%
  padding: 10px
  font-size: 1em
  color: #686868
  background: none repeat scroll 0% 0% #FEFAEF
  border-radius: 10px
  & > p
    margin: 0px



.action-panel__actions
  text-align: center

.action-panel__actions ul
  list-style: none
  padding: 0px
  width: 90.74%


.action-panel__actions li
  display: inline-block
  padding: 10px 10px

h1.action-panel__title
  font-size: 1.5em
  color: #595959
  margin: 0.8em 0 0.4em
  color: #656565


