@import ../global

.coach-info
  @include clearfix
  @include content()
  margin-top: 100px

h1.coach-info__title
  font-size: 36px
  font-weight: 300
  text-align: center
  margin: auto

@media screen and (min-width: $content-max-width)
  .coach-info__wechat-add
    width: 180px
    float: left
    padding: 30px 0px

  .coach-info__content
    float: left
    width: 400px
    margin-left: 40px



