@import ../global

.coach-info
  margin-top: 100px

.coach-info__wechat-add
  margin: 0 auto
  padding-right: 20px

@media (min-width: 480px)
  .coach-info__wechat-add
    float: left

.coach-info__content
  overflow: hidden