.course-entry
  width: 60%
  padding: 200px 0
  margin-bottom: 20px
  margin-top: 20px
  position: relative

.course-entry--ios
  background-image: image-url("courses/ios/bg.jpg")

.course-entry--nodejs
  background-image: image-url("courses/nodejs/bg.jpg")

h1.course-entry__title
  text-decoration: underline
  display: table
  margin: auto
  color: #FFF
  position: relative
  & > a
    color: #FFF

img.course-entry__badge
  position: absolute
  left: -80px
  top: -10px

.course-entry__link
  position: absolute
  right: 40px
  bottom: 20px
  font-size: 20px
  color: #FFFFFF
  & > a
    color: #FFF

