.input-box
  text-align: center

.input-box__text
  position: relative
  right: -0.55556em

  display: inline-block
  color: #FC6265
  padding: 0.5714em
  border: 1px solid #FC6265
  border-radius: 6px

.input-box__button
  position: relative
  z-index: 999

  color: #fff
  padding: 0.5714em
  font-weight: bold
  background-color: #FC6265
  border: 1px solid #FC6265
  border-top-right-radius: 6px
  border-bottom-right-radius: 6px


