@import ../global

.jumbotron
  padding: 200px 0
  color: white
  text-align: center
  position: relative
  background-color: rgba(0,0,0,0.3)
  background-blend-mode: multiply
  background-size: cover

.jumbotron--ios
  background-image: image-url("courses/ios/bg.jpg")

.jumbotron--nodejs
  background-image: image-url("courses/nodejs/bg.jpg")

h1.jumbotron__title
  font-size: 36px
  font-weight: 300
  display: table
  margin: auto
  position: relative
  text-decoration: underline
  margin-bottom: 30px

img.jumbotron__badge
  position: absolute
  left: -80px
  top: -10px

