.logo-title
  @include clearfix()

.logo-title__logo
  float: left
  margin-right: 30px

.logo-title__title
  _display: inline-block
  float: left

  font-weight: lighter
  font-size: 24px
  color: #6B6B6B
