div.panel
  // center vertically and horizontally
  position: fixed
  margin: auto
  top: 0
  left: 0
  right: 0
  bottom: 0

  z-index: 9999
  display: none
  box-sizing: border-box

  width: 600px
  height: 520px

  background: white
  padding: 15px 25px
