.site-header {
  position: relative;
  padding: 0.555556em;
  color: #656565;
}


.site-header > * {
  vertical-align: middle;
}

a.site-header__root {
  display: inline-block;
  width: 2.777778em;
  height: 3.333333em;
  background-image: image-url("logo2.png");
  background-size: 2.777778em 3.166667em;
  background-repeat: no-repeat;
}


h1.site-header__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 10px;

  font-size: 1.3333333em;
}


.site-header__personal-info {
  float: right;
  display: inline-block;
  &  img {
    width: 44.46px;
    border-radius: 100%;
    border: 0;
    padding: 0;
    display: inline;
  }
  & > a {
    display: inline-block;
    vertical-align: middle;
    & > span {
      font-size: 14px;
      vertical-align: middle;
      margin-left: 6px;

    }
  }
}

a.site-header__login {
  color: #656565;
  float: right;
  line-height: 3.333333em;
  i {
    padding-right: 0.2777778em;
  }
}

.site-header--center {
  padding-left: 0;
}

@media (max-width: 620px) {
  a#header-user-name {
    margin-right: 0px;
    & > span {
      display: none;
    }
  }
  #header-setting {
    display: none;
  }
}
