body
  margin: 0
  font-family: "Hiragino Sans GB"
  font-size: 16px

p
  font-size: 18px

html
  height: 100%
  font-size: 14px
  overflow-x: hidden

a
  text-decoration: none

h1,h2,h3,h4,h5,h6
  line-height: 120%
  font-weight: 500
h1
  font-size: 36px
h2
  font-size: 24px

////////////////////////////////////////////////////////////////////////////////
// mixin
////////////////////////////////////////////////////////////////////////////////

@mixin clearfix
  &:after
    content: ''
    display: block
    clear: both

$content-max-width: 620px
// define a centered content block that has top and bottom margin
@mixin content($margin: "",$margin-bottom: "")
  @if $margin == "" && $margin-bottom == ""
    margin: auto

  @if $margin != "" && $margin-bottom == ""
    margin: $margin auto

  @if $margin != "" && $margin-bottom != ""
    margin: $margin auto $margin-bottom auto

  max-width: $content-max-width

////////////////////////////////////////////////////////////////////////////////
// layout helpers
////////////////////////////////////////////////////////////////////////////////

.u-center-text
  text-align: center

.u-hidden
  display: none

.u-bg-lightblue
  background: #F8FBFF

.u-padding-15
  padding: 15px

.u-color-red
  color: #FF6161

.u-half-opacity
  opacity: 50%

.u-center-content
  @include content()

.u-display-center
  display: block
  margin: auto

.u-invalid-text
  text-decoration: line-through


