.sike-global {
  box-sizing: border-box;
}

.sike-global * {
  box-sizing: inherit;
}

.sike-global {
  font-size: 18px;
  font-family: "Hiragino Sans GB";
  font-weight: 300;
  color: #3D3D3C;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
  }

  h1 {
    margin-top: 40px;
    font-size: 36px;
  }

  h1.emphasize {
    text-decoration: underline;
  }

  .h1--large {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
  }

  .container {
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}
